---
title:      "Back from the Blender Conference 2019"
created_at: 2019-10-25 14:58:33 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/hacking/krita-hacking/back-from-the-blender-conference-2019/"
---
<p>Yesterday, me, Dmitry, Wolthera and Agata visited <a href="https://conference.blender.org/">BlenderCon 2019</a>. Intel had asked us to come to the conference to help set up the Intel/Acer booth, which was showing off Krita in all its <a href="https://krita.org/en/item/krita-4-2-0-the-first-painting-application-to-bring-hdr-support-to-windows/">HDR glory</a>. After all, it&#8217;s pretty cool when a free software project has a real, tangible, technical, artistic <b>first</b>! It was great being there, meeting people who were really pleased to finally meet Krita hackers in the flesh.</p>
<blockquote class="twitter-tweet">
<p dir="ltr" lang="en">Honored to meet <a href="https://twitter.com/boudewijnrempt?ref_src=twsrc%5Etfw">@boudewijnrempt</a>, the Founder of <a href="https://twitter.com/hashtag/Krita?src=hash&amp;ref_src=twsrc%5Etfw">#Krita</a> <a href="https://twitter.com/hashtag/bcon19?src=hash&amp;ref_src=twsrc%5Etfw">#bcon19</a> we were talking about how Grease Pencil is a competition for <a href="https://twitter.com/Krita_Painting?ref_src=twsrc%5Etfw">@Krita_Painting</a> <a href="https://t.co/tRUVwQJm0I">pic.twitter.com/tRUVwQJm0I</a></p>
<p>— Tobias Günther (@elaspix) <a href="https://twitter.com/elaspix/status/1187340843604156416?ref_src=twsrc%5Etfw">October 24, 2019</a></p></blockquote>
<p><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
<p>(Aside 1: note how crowded that theatre is!)</p>
<p>(Aside 2: we tacked on a small sprint to this event, because the Intel team that works on these projects with us wanted to visit me in Deventer, and I wanted them to meet some other Krita hackers. At the sprint, I had HDR-enabled laptops for Dmitry and Agata, who were in dire need of new hardware. Yoga C940, really nice devices. We also discussed how to progress with the resource system rewrite.)</p>
<p>But, cool as HDR is, and the hardware that eventually arrived at the booth was pretty cool, too, and interested as many people were, that&#8217;s not the main thing I took away from the conference. What struck me once again was the disparity between how Blender is looked at from inside the Linux Desktop community, as if it were a largely irrelevant niche hobby project of no big moment in the larger scheme of things, and the reality of Blender as one of the most successful end-user oriented free software projects.</p>
<p>But first watch this:</p>
<p><iframe title="Blender Conference 2019 Keynote - Ton Roosendaal" width="840" height="473" src="https://www.youtube.com/embed/Jcl3--cbULk?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h3>Numbers</h3>
<p>Let&#8217;s start comparing the numbers for some projects, roughly. Things I&#8217;m interested in are installed base, market share, funding levels, developer engagement, community engagement.</p>
<p><a href="https://itsfoss.com/linux-market-share/"><strong>Desktop Linux</strong> has a market share of about 3%, including ChromeOS</a>. Windows 10 runs on about <a href="https://wccftech.com/windows-10-900-million/">1,000,000,000 devices.</a>, and <a href="https://hostingtribunal.com/blog/operating-systems-market-share/">Windows 10 has about 33% marketshare</a>. (You might want to quibble about these numbers, the sources where I pulled them from, but it&#8217;s pretty the same everywhere. And exact numbers don&#8217;t matter in this discussion.)</p>
<p>That puts the total Linux Desktop installed base at 9<b>0,000,000</b>, of which one third is ChromeOS. All other Linux desktop projects, from Plasma to Gnome, from Mate to XFCE, from Deepin to i3 have to divide that remaining 90,000,000 installations.</p>
<p>Then financial stuff&#8230; In 2017, the Gnome project had an income of <strong>246,869</strong> euros, in 2018 of 965,441 euros, but that includes the <a href="https://handshake.org/">Handshake donation</a>, which is one-time. For KDE, the 2017 income was about <strong>150,000</strong> euros, and 2018 was about 600,000 euros, again including the Handshake donation. I can&#8217;t be bothered to look for similar statements for Mate and XFCE which are tiny in any case. In a normal year, Desktop Linux seems to have a total budget of about <strong>400,000</strong> euros, excluding commercial investment which is not controlled by the projects themselves. KDE e.V. does not use its budget to pay for development, and the GNOME Foundation supports development financially in a very limited way.</p>
<p>The Free Desktop has <em>three percent</em> of the installed base of Windows/macOS.</p>
<p><a href="https://opensource.com/article/18/9/libreoffice-history"><strong>LibreOffice</strong></a> has been estimated to have 200,000,000 active users. About 10% are Linux users, which means that they count <i>all</i> Linux desktops, probably because LibreOffice is installed by default by all Linux Distributions. In 2018, the Document Foundation&#8217;s income was <strong>855,847,78</strong> euros, pretty much all from donations. According to <a href="https://www.openhub.net/p/_compare?project_0=LibreOffice&amp;project_1=Blender+3D&amp;project_2=Krita">OpenHub</a>, LibreOffice had about 200 developers in the past year, and has had 1900 developers over its entire existence, and 64 in the last month. Microsoft Office has five times the market share, at the very least.</p>
<p>LibreOffice&#8217;s installed base is <em>one fifth</em> of Microsoft&#8217;s.</p>
<p><strong>Krita</strong> has, according to data from Microsoft, which counts every time an exe is started on Windows 10, 1,500,000 active users (that is, distinct systems on which Krita is started at least once a month). A dumb extrapolation of that to 4,500,000 users on all platforms since Windows 10 has 33% market share is probably too coarse, but let it stand. It&#8217;s order of magnitude that&#8217;s important here.</p>
<p>In <a href="https://www.business.com/articles/photoshop-reigns-supreme-how-the-software-has-maintained-market-dominance/">2010, Photoshop had 10,000,000 users</a>. Of course, Adobe has moved to a subscription service since. In 2017, Adobe Cloud (which also includes subscriptions without Photoshop), <a href="https://www.statista.com/statistics/497176/adobe-creative-cloud-subscriptions/">had 12,000,000 subscribers</a>. Looks like going to a subscriber model is really curtailing their installed base. Also, no wonder that last year&#8217;s Photoshop update suddenly included all kinds of fancy features aimed at painters, not photographers.</p>
<p>Krita currently is at 3,000,000 downloads a year from krita.org, which excludes downloads from external download sites or Linux distribution installs.</p>
<p>Our current budget is in a bit of a flux, since it&#8217;s rising, mostly because of income from Steam and the Windows store, but it&#8217;s about <strong>240,000</strong> euros a year. All of that is used to support development.</p>
<p>Krita has had 52 developers contributing in the past year, and 450 over its entire existence, and 17 in the past month. We currently have five full-time developers.</p>
<p><small>(In case you want <a href="https://www.openhub.net/p/_compare?project_0=GIMP&amp;project_2=Krita&amp;project_1=Inkscape">a comparison with projects similar to Krita</a>, GIMP is 675, 74, 21 and Inkscape 423, 94, 18 &#8212; but for those projects, the translations are part of the git repo, for Krita those are external, so the comparison is questionable&#8230;) I don&#8217;t know download numbers for GIMP or Inkscape, because those projects intentionally don&#8217;t track those.</small></p>
<p>Let&#8217;s risk a limb: Krita&#8217;s installed base is about <em>a quarter</em> of Photoshop&#8217;s.</p>
<p>It&#8217;s pretty hard to find recent information about downloads or installed base for <strong>Blender</strong>. Of course, Blender works in an industry where <a href="https://www.quora.com/How-many-people-are-using-3D-design-software-worldwide-i-e-Maya-3DS-Max-Cinema-4D-and-etc">the &#8220;market leader&#8221; AutoDesk has about 100,000 users in total</a>. The same estimate, using information from 2014, claims 4,000,000 downloads for Blender and about 200,000 users. I haven&#8217;t found any information that&#8217;s more recent, but Blender 2.80 has made a big splash: I wouldn&#8217;t be surprised that it&#8217;s made an order of magnitude difference. (Besides, if I look from our download numbers to installed base as reported by Microsoft, the calculation in that article doesn&#8217;t stand.)</p>
<p>The 2019 Blender Conference, the ostensible topic of this blog, has over 600 <i>paying</i> attendees. But Blender is a tool that makes its users money; nobody makes money just using a desktop. It makes sense for someone making money with Blender to pay to go to a conference this packed with useful information and contacts.</p>
<p>Akademy is free, though Guadec asks for a registration fee. I couldn&#8217;t find information about how many people attended Guadec in 2019, but about 160 people attended Akademy; I am sure almost all contributors.</p>
<p>The BlenderCon fee gets you food, drinks, clothing and a bag. The whole conference feels very professional, from the venue to the catering, from the hardware, to the level of excellence of the presentations. More importantly, there is an ecosystem around Blender that actually rents booths to show off their offering, puts leaflets, stickers and brochures in the swag bag. Almost all attendees are seriously committed blenderheads: but that means users. This is not just one developer community looking inside itself once a year.</p>
<p>Blender&#8217;s development fund currently brings in about <b>1,200,000 euros</b> a year, which funds 20 full-time developers. That&#8217;s not the only source of funding. Blender has about 172 developers in the past year, and 550 over its entire existence, and 64 in the past month, same as LibreOffice. Looking at the last number, it means that there are anyway more volunteer committers in the Blender community than paid developers. Funded development hasn&#8217;t eaten the community.</p>
<p><img class="aligncenter size-full wp-image-2442" src="http://valdyas.org/fading/wp-content/uploads/2019/10/blenderfund.png" alt="" width="600" height="880" srcset="https://valdyas.org/fading/wp-content/uploads/2019/10/blenderfund.png 600w, https://valdyas.org/fading/wp-content/uploads/2019/10/blenderfund-205x300.png 205w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 984px) 61vw, (max-width: 1362px) 45vw, 600px" /></p>
<p>Let&#8217;s hazard a guess: Blender has <em>four times</em> the installed base of AutoDesk Maya. This is pretty rough, of course, so ingest with salt.</p>
<h3>Funding Development</h3>
<p>This is important, because one of the things that keeps getting argued in the KDE community is that paying for development destroys the community. So, where does that argument come from, and when might it be true, and when might it not be true? Remember, I&#8217;m only talking about projects aimed at end-users, about applications, about the desktop. Programming languages, libraries, web stuff, all that is irrelevant for this discussion. What is relevant is that we often hear people claim that it is impossible to successfully develop this type of software as free software.</p>
<p>Well, my guess is that the people who continue to claim that funding development on free software will destroy the community are either nostalgic for their nineties student days, or tried to build a business around free software that they recognized was going to be valuable, but that was built by others. They would have founded a company, hired the developers, then started working on projects and contracts for customers. Of course that will fail: customers only care about <i>their</i> needs. And once you&#8217;re invoicing per-hour, you&#8217;re bust. You will never find time to properly maintain the project you wanted to build your company around. You&#8217;ve turned into a leech, and will drain your central asset of its lifeblood.</p>
<p>The other way is what happens with Blender, with LibreOffice and with Krita. There is no company that uses the free project to build a business selfishly. Instead, it is the project itself that is funded. There might be businesses that profit from the existence of the successful project (like the cloud renderer companies that were showing off at the BlenderCon), but that&#8217;s not central to the funding of the project.</p>
<p>Instead, there is someone central to the project who drives its development and growth with enthusiasm and who cares for the community; the paid developers are not extraneous people uninvolved in the community, but part of it.</p>
<p>I was going to write &#8220;in my opinion&#8221;, but the facts are pretty clear. Funding the development of free software applications this way is essential to achieve real success.</p>
<h3>Defining Success</h3>
<p>Blender is a success. Blender has, in fact, won, as Ton says. Despite being 25 years old, it&#8217;s <em>the</em> tool young 3D creatives reach for automatically, Maya is for old fogies. It has support from <i>all</i> hardware industry players: Intel, AMD, NVidia. It has support from closed source companies like Epic, from companies like Adidas, who simply are users of Blender. It is becoming, if it hasn&#8217;t already become, an industry standard.</p>
<p>And if Blender, a free and open source application can become an industry standard, users of Blender will find it easier to accept that Krita, which is also free and open source, can serve their needs just as well. Blender shows that free software can be first class, and that will drag every other willing project with it in its wake.</p>
<p>At Krita, we&#8217;ve worked together with Intel, for over 15 years now. If you compare the market numbers for Adobe and Autodesk, then it&#8217;s clear there&#8217;s a much larger potential community of Krita users than Blender users (unless Blender turns Grease Pencil into a regular painting application&#8230;). No reason we cannot have community four times bigger than Photoshop&#8217;s installed base! We&#8217;ve got plenty of growth still before us.</p>
<p>But I used the word &#8220;community&#8221; here, instead of something like &#8220;market&#8221;. Because the second part that defines success is the ability to remain a community. Well, when it comes to that, Blender does show the way forward, too.</p>
<p>Autodesk has such a small user base that it cannot grow a community. It&#8217;s too expensive for that. Which means that long-term it has already lost. (Besides, it cannot buy and shutdown Blender, which is what AutoDesk does when faced with competition). The only thing it <em>could</em> do is make Maya cheaper, but unless they hire Mario Draghi, they cannot make Maya cheaper than Blender.</p>
<p>There are more Photoshop users, because Photoshop is cheaper, and Photoshop users have more of a community feeling, but the company is very proficient at alienating that community; people feel attached to the tool, but hate the company behind it.</p>
<p>For Krita, we&#8217;re trying to foster our community. We had a big sprint in August where we invited more artists than ever, we&#8217;re funding the development of our YouTube channel &#8212; but there&#8217;s a way to go. I wish we had someone to setup Krita Artists, analogous to Blender Artists&#8230;</p>
<h3>What is Niche?</h3>
<p>My argument is that the model by which the Linux Desktop, GIMP or Inkscape are developed make those efforts inevitably niche. Not that everyone agrees about what is niche. At the 2019 KDE Onboarding Sprint, I was told twice that Krita of course serves a niche market. Doing art is something only a very few people are interested in, after all, isn&#8217;t it? Not even the actual download numbers could change that impression. The desktop, KDE PIM, that sort of projects are the important ones, providing something everyone needs. It&#8217;s fine to disregard anything outside the Linux world because nothing we do could ever succeed there. Nobody uses Qt applications on Windows.We all know they just don&#8217;t feel right. (Which would be news to Autodesk, since Maya is written in Qt.)</p>
<p>To me, looking at the numbers I&#8217;ve tried to assemble above, the Linux Desktop is a niche, LibreOffice, Blender and Krita are not.</p>
<p>Ton has once told me he doesn&#8217;t feel connected in any way to the regular free software/open source crowd. Being Free Software is essential for Blender&#8217;s success. The GPL is core. But being part of the GNU/GNOME/KDE etc. world, he warned me, would be a drag on Krita becoming successful.</p>
<p>And you know what? Unless we can turn our own communities around, I&#8217;m beginning to think he&#8217;s right. To make a real difference, our communities have to cross boundaries and enter the wider world. To flourish, a free software project needs to have a budget to fund its core developers within the project, to implement the vision of the project.</p>