---
title:      "About “Qt offering changes 2020”"
created_at: 2020-01-28 09:56:59 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/software/about-qt-offering-changes-2020/"
---
<p>When I read &#8220;<span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="text"><a href="https://www.qt.io/blog/qt-offering-changes-2020">Qt offering changes 2020</a>&#8221; yesterday, my first reaction was to write a pissy blog post. I&#8217;m still writing a blog post with my thoughts about the changes, but I&#8217;ll be nice. There are three parts to this post: a short recap of my history with Qt and then my thoughts on what this means for KDE, for Krita and for free software. </span><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="text"><br />
</span></p>
<p>I started programming using Qt and PyQt when I read about Qt in Linux Journal, which I was subscribing to back in 1996. That means that I&#8217;ve been using Qt for about 25 years. I initially wanted to write an <a href="https://valdyas.org/linguistics/index.html">application for handling linguistic field data</a>, and I evaluated GTK+, wxWidgets, Qt, Tk, fltk, V and a few others that have been forgotten in the mists of time. I choose Qt because it had great documentation, a consistent API, the most logical (to me&#8230;) way of doing things like setting up a window with a menu or handling scrollbars and finally because it made C++ as easy as Java.</p>
<p>I&#8217;ve stayed with Qt for 25 years because, through all the vicissitudes, it kept those qualities. Mostly. There are now a lot more modules, most of which aren&#8217;t necessary for my work, there are people working on Qt who seem to be a bit ashamed that Qt makes C++ as easy as Java and want to make Qt as computer-sciency as C++, there have been the licensing issues with the QPL, the changes to GPL, to LGPL and then again some modules back to GPL there have been the Nokia years, the Digia times.</p>
<p>But I&#8217;ve always felt that I could build on Qt. And the reason for that is the <a href="https://kde.org/community/whatiskde/kdefreeqtfoundation.php">KDE Free Qt Foundation</a>. To summarize: this is a legal agreement that keeps Qt free software. If the Qt company won&#8217;t release a version of Qt under a free software license within a year of a release, Qt becomes licensed under the BSD license.</p>
<p>With yesterday&#8217;s message, the Qt company is searching the utter boundaries of this agreement. To recap:</p>
<ul>
<li>Long Term Support releases remain commercial only (the post doesn&#8217;t mention this, but those releases also need to be released under a free software license within a year to adhere to the agreement, at least to my understanding).</li>
<li>Access to pre-built binaries will be restricted: put behind an account wall or be only available to commercial license holders</li>
<li>And there&#8217;s a new, cheaper license for small companies that they can use to develop, but not deploy their work to customers.</li>
</ul>
<p>This is a weirdly mixed bag of &#8220;changes&#8221;. The last one is a bit silly. Even the &#8220;commercial&#8221; side of Krita is <em>too big</em> to qualify! We&#8217;re five people and have a budget of about 125k&#8230;</p>
<p>The middle point is worth considering as well. Now there is nothing in any free software license that talks about a duty to make binaries available.</p>
<p>For a very long time, Krita, when part of KOffice, only made source tarballs available. Right now, we, like the Qt company, have binaries for Linux, Windows, macOS and (experimentally) Android. The Windows binaries are for sale in the Windows Store and on Steam, the Linux binaries are for sale on Steam. And all binaries can be downloaded for free from krita.org and other places.</p>
<p>This move by the Qt company would be like the Krita project shutting down the free downloads of our binaries and only make them available in the various stores. It would be legal, but not nice and would cost us hundreds of thousands of users, if not millions. It is hard not to wonder what the cost to the Qt community will be.</p>
<p>The first change, the restriction of the LTS releases to commercial customers has all kinds of unexpected ramifications.</p>
<p>First off, Linux distributions. Disitributions already rarely use LTS releases, and in any case, with Qt 3 and Qt 4 there didn&#8217;t use to be any LTS releases. But disitributions do have to keep older versions of Qt around for unported applications for a longer time, so they do need security and bug fixes for those older versions of Qt.</p>
<p>Then there&#8217;s the issue of how fixes are going to land in the LTS releases. At the last Qt contributor summit the Qt project decided on a process where all fixes go through &#8220;dev&#8221; and then are ported to the stable branches/LTS branches. That&#8217;s going to break when Qt6 becomes dev: patches won&#8217;t apply to Qt 5.</p>
<p><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">Albert has already <a href="https://tsdgeos.blogspot.com/2020/01/the-qt-company-is-stopping-qt-lts.html">blogged </a>about this change as well, but he only really focused on distributions and KDE Plasma; there is of course much more to KDE than the Plasma desktop and Linux distributions.</span></p>
<p>As for Krita, we&#8217;re using Qt 5.12 for our binaries because we carry a lot of patches that would need porting to Qt 5.13 or 5.14 and because Qt 5.13 turned out to be very, very buggy. For Krita, using a stable version of Qt that gets bug fixes is pretty important, and that will be a problem, because we will lose access to those versions.</p>
<p><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">In my opinion, while we&#8217;ve done without stable, LTS releases of Qt for years, it&#8217;s inevitable that Qt 5.15 will be forked into a community edition that gets maintained, hopefully not just by KDE people, but by everyone who needs a stable, LGPL licenced release of Qt5 for years to come. </span></p>
<p><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">Splitting up the Qt community, already responsible for handling a huge amount of code, is not a good idea, but it looks like the Qt company has made it inevitable. </span></p>
<p><span id="hs_cos_wrapper_name" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="text">And once there&#8217;s a community maintained fork of Qt, would I contribute to the unforked Qt? Probably not. It&#8217;s already a lot of work to get patches in, and doing that work twice, nah, not interested. If there&#8217;s a maintained community version of Qt 5, would I be interested in porting to Qt 6? Probably not, either. It isn&#8217;t like the proposed changes for Qt 6 excite me. And I don&#8217;t expect to be the only one.<br />
</span></p>
<p>As for the more intangible consequences of these changes: I&#8217;m afraid those aren&#8217;t so good. Even in our small Krita community, we&#8217;ve had people suggest it might be a good idea to see whether we couldn&#8217;t port Krita to, say, Blender&#8217;s development platform. This would be a sheer impossible task, but that people start throwing out ideas like that is a clear sign that the Qt company has made Qt much less attractive.</p>
<p>If I were to start a new free software project, would I use Qt? Last Sunday the answer would have been &#8220;of course!&#8221;. Today it&#8217;s &#8220;hm, let&#8217;s first check alternatives&#8221;. If I had a big GTK based project that&#8217;s being really hampered by how bad, incomplete and hard to use GTK is, would I consider porting to Qt? Same thing. If the KDE Free Qt Foundation hadn&#8217;t that agreement with the Qt company, the answer would probably be no, right now, it&#8217;s still probably a yes.</p>
<p>Now as for the actual announcement. I think the way the Qt company represents the changes is actually going to help to harm Qt&#8217;s reputation. The announcement is full of weasel-wording&#8230;</p>
<p><strong>&#8220;General Qt Account requirement&#8221;</strong> &#8212; this means that in order to download Qt binaries, everyone is going to need a Qt account. Apparently this will make open-source users more eager to report bugs, since they will already have an account. And, yay, wonderful, you need an account to access the completely useless Qt marketplace. And it allows, and now we&#8217;re getting at the core reason, the Qt company to see which companies are using the open source version of Qt and send salespeople their way. (But only if the people making the accounts are recognizable, of course, not if they make the account with their gmail address.) When I was working for Quby, I was unpleasantly surprised at how expensive Qt is, how little flexibility the Qt company shows when dealing with prospective customers &#8212; and how we never downloaded the installer anyway.</p>
<p><strong>&#8220;LTS and offline installer to become commercial-only&#8221;</strong> &#8212; this will break every free software project that uses services like travis to make builds that download Qt in the build process. Of course, one can work around that, but the way the Qt company represents this is &#8220;<em><span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text">We are making this change to encourage open-source users to quickly adopt new versions. This helps maximize the feedback we can get from the community and to emphasize the commercial support available to those with longer product life cycles that rely on a specific Qt version.</span></em>&#8221; Which of course means &#8220;our regular releases are actually betas which we expect you freeloaders to test for us, to provide bug fixes for us, which we can use to provide the paying customers with stable releases&#8221;.</p>
<p>And yes, theoretically, the main development branch will have all bug fixes, too, and so nobody misses out on those bug fixes, and everyone has stability&#8230; Right? The problem is that Qt has become, over the years, bigger and buggier, and I doubt whether releases made fresh off the main development branch will be stable enough to provide, say, a stable version of Krita to our millions of users. Because, apart from all the bug fixes, they will also have all the new regressions.</p>
<p><strong>&#8220;Summary&#8221;. </strong>&#8220;<em><span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text">The Qt Company is committed to the open-source model of providing Qt technology now and in the future and we are investing now more than ever. </span></em>&#8221; &#8212; though only to the extent that the Qt Company is forced to adhere to the open-source model by the KDE Free Qt Foundation.</p>
<p>&#8220;<em><span id="hs_cos_wrapper_post_body" class="hs_cos_wrapper hs_cos_wrapper_meta_field hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="meta_field" data-hs-cos-type="rich_text">We believe that these changes are necessary for our business model and the Qt ecosystem as a whole. </span></em>&#8221; &#8212; my fear is that the Qt Company will not survive the fracturing of the Qt ecosystem that this decision practically guarantees.</p>